# OS
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
pnpm-lock.yaml

# SvelteKit build output
/build
/.svelte-kit
.wrangler
/package
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage
/playwright-report
/test-results
vitest.config.js.timestamp-*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.vercel
.netlify
.turbo
.output
.contentlayer
